page-job-details {
  ion-content {

    .button-go-to-checklist {
      display: block;
      margin: 0 auto;
      height: 40px;
      width: 100%;
      color: $white;
      background-color: $macaroni;
    }


    .sebm-google-map-container {
      height: 300px;
    }
  }
}

