checklist-form {
  ion-row {
    .align-center {
      display: flex;
      align-items: center;
      line-height: inherit;
    }
  }
  .customise {
    background-color: #A0C7F4;
    color: #000000;
    height: 35px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}
