<form padding [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col width-80>
      <p>Are the keys in the keysafe?</p>
    </ion-col>
    <ion-col width-20>
      <ion-toggle color="ptkgreen" class="toggle" mode="ios" (ionChange)="notify()" formControlName="keys_in_keysafe"></ion-toggle>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-80>
      <p>How many sets of dirty linen are there?</p>
    </ion-col>
    <ion-col width-20 class="align-center">
      <input-number formControlName="dirty_linen_count_start" ></input-number>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-80>
      <p>How many sets of clean linen are there?</p>
    </ion-col>
    <ion-col width-20 class="align-center">
      <input-number formControlName="clean_linen_count_start" ></input-number>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-100>
      <button type="submit" class="my-5 customise" [disabled]="!propertyForm.valid">Submit</button>
    </ion-col>
  </ion-row>
</form>
