<form padding [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
  <ion-row *ngFor="let field of fields">
    <ion-col width-80>
      <p>{{ field.fieldName }}</p>
    </ion-col>
    <ion-col width-20 *ngIf="field.fieldType == 'boolean'">
      <ion-toggle color="ptkgreen" class="toggle" mode="ios" formControlName="{{ field.field }}"></ion-toggle>
    </ion-col>
    <ion-col width-20 class="align-center" *ngIf="field.fieldType =='number'">
      <input-number formControlName="{{ field.field }}" ></input-number>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col width-100>
      <button type="submit" class="my-5 customise" [disabled]="!sectionForm.valid">Submit</button>
    </ion-col>
  </ion-row>
</form>
