<ion-content padding-top content>
    <ion-grid *ngFor="let msg of msgs">
        <ion-row *ngIf="!msg.outgoing" class="messageSent">
            <ion-col width-90 class="pr-0">
                <div class="messageContainer p-3">
                    <div class="message-text"><span>{{ msg.message }}</span></div>
                    <div class="time">{{ msg.created.slice(11, 16) }}</div>
                </div>
            </ion-col>
            <ion-col width-10 class="pl-0">
                <div class="arrow-right"></div>
            </ion-col>
        </ion-row>
        <ion-row  *ngIf="msg.outgoing" class="messageReceived">
            <ion-col width-10 class="pr-0">
                <div class="arrow-left"></div>
            </ion-col>
            <ion-col width-90 class="pl-0">
                <div class="messageContainer p-3">
                    <div class="message-text"><span>{{ msg.message }}</span></div>
                    <div class="time">{{ msg.created.slice(11, 16) }}</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <form [formGroup]="messagingForm" (ngSubmit)="onSubmit()">
            <input class="messageInput" type="text" formControlName="message">
            <button class="send-msg" type="submit" [disabled]="!messagingForm.valid"><ion-icon class="sendIcon" name="send"></ion-icon></button>
        </form>
    </ion-toolbar>
</ion-footer>