// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//ptk colors
$ocean-blue: #125ea2;
$macaroni: #ee9b2c;
$olive-green: #93cd5b;
$white: #ffffff;


.customise {
    background-color: #A0C7F4;
    color: #000000;
    height: 35px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

.green-txt {
  color: #B6D8AD;
}
.transparent {
  color: transparent;
}
.green-btn {
  background-color: #B6D8AD;
  border: 2px solid;
  box-shadow: 1px 1px;
}
.pink-btn {
  background-color: #EB999B;
  border: 2px solid;
  box-shadow: 1px 1px;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  display: inline-block;
  &:focus {
    outline: none;
  }
}
a:focus, a:hover {
  text-decoration: none;
}
.tabs-md .tabs-button {
  border: 2px solid black;
}

.toggle-ios .toggle-icon {
    width: 40px;
    height: 23.8px;
    border: 2px solid #000000;
    .toggle-inner {
      width: 23.7px;
      height: 23.7px;
      border: 2px solid #000000;
      left: 0px;
      top: -2px;
    }
  }
  .toggle-ios .toggle-checked .toggle-inner {
    transform: translate3d(14.725px, 0, 0);
  }

  .toggle-ios-ptkgreen .toggle-checked {
  border: 2px solid #000000;
}


#text-box.input {
  border: 1px solid #cccccc;
}



//all scss for checklist overview
greeting-overview, cleaning-overview {
  .greenBar {
      background-color: #B6D8AD;
    }
    .stage-one {
      height: 35px;
      width: 85%;
      border: 2px solid rgba(0,0,0,0.8);
    }
    .stage-two {
      height: 70px;
      width: 85%;
      border: 2px solid rgba(0,0,0,0.8);
    }
    .stage-three {
      height: 180px;
      width: 85%;
      border: 2px solid rgba(0, 0, 0, 0.8);
    }
    .stage-four {
      height: 40px;
      width: 85%;
      border: 2px solid rgba(0, 0, 0, 0.8);
    }
    .stage-five {
      height: 78px;
      width: 85%;
      border: 2px solid rgba(0, 0, 0, 0.8);
    }
    .stage-six {
      height: 40px;
      width: 85%;
      border: 2px solid rgba(0, 0, 0, 0.8);
    }
    ion-icon.green-txt {
      font-size: 1.8rem;
      font-weight: 900;
      float: right;
      display: flex;
      align-items: center;
      line-height: 1.5;
    }
    ion-icon.green-tick {
      font-size: 1.8rem;
      font-weight: 900;
      float: right;
      display: flex;
      align-items: center;
      line-height: 2.5;
      color: #B6D8AD;
    }
    .status-bar {
      ion-col {
        padding: 0 5px;
      }
      ion-col:nth-of-type(3) {
        button {
          display: block;
          margin-top: 10px;
          height: 25px;
          background-color: white;
          border: 2px solid black;
          width: 100%;
          font-size: 1.3rem;
          box-shadow: 1px 1px;
        }
        // button.linen-btn {
        //   margin-top: -10px;
        // }
      }

      ion-row ion-col:not(:first-of-type){
        height: 0px;
      }

      ion-row:nth-of-type(1) {
        ion-col:not(:first-of-type) {
          line-height: 35px;
        }
      }
      ion-row:nth-of-type(2) {
        ion-col:not(:first-of-type)  {
          line-height: 70px;
        }
        ion-col:nth-of-type(3) {
          line-height: inherit;
          display: flex;
          height: inherit;
          align-items: center;
          button {
            margin-top: 0px;
          }
        }
      }
      ion-row:nth-of-type(4) {
        ion-col:not(:first-of-type) {
          line-height: 40px;
        }
        ion-col:nth-of-type(4) {
          line-height: inherit;
          height: inherit;
          display: flex;
          align-items: center;
        }
      }
      ion-row:nth-of-type(5) {
        ion-col:nth-of-type(n+1) {
          line-height: 78px;
        }
        ion-col:nth-of-type(3) {
          line-height: inherit;
          display: flex;
          align-items: center;
          height: inherit;
          button{
            margin-top: 0px;
          }
        }
      }
      ion-row:nth-of-type(6) {
        ion-col:not(:first-of-type) {
          line-height: 40px;
        }
        ion-col:nth-of-type(4) {
          line-height: inherit;
          height: inherit;
          display: flex;
          align-items: center;
        }
      }

    } 
}