// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//ptk colors
$ocean-blue: #125ea2;
$macaroni: #ee9b2c;
$olive-green: #93cd5b;
$white: #ffffff;

.pr-0 {
  padding-right:0; 
}
.pl-0 {
  padding-left: 0;
}
.p-1 {
  padding: 10px;
}
.mt-4 {
  margin-top: 2em;
}
.my-4 {
  margin-top: 2em;
  margin-bottom: 2em;
}
.p-2 {
  padding: 0.5em;
}
.float-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.customise {
    background-color: #A0C7F4;
    color: #000000;
    height: 35px;
    display: block;
    margin: 0 auto;
    width: 100%;
  }

.green-txt {
  color: #B6D8AD;
}
.transparent {
  color: transparent;
}
.green-btn {
  background-color: #B6D8AD;
  border: 2px solid;
  box-shadow: 1px 1px;
}
.pink-btn {
  background-color: #EB999B;
  border: 2px solid;
  box-shadow: 1px 1px;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  display: inline-block;
  &:focus {
    outline: none;
  }
}
a:focus, a:hover {
  text-decoration: none;
}
.tabs-md .tabs-button {
  border: 2px solid black;
}

.toggle-ios .toggle-icon {
    width: 40px;
    height: 23.8px;
    border: 2px solid #000000;
    .toggle-inner {
      width: 23.7px;
      height: 23.7px;
      border: 2px solid #000000;
      left: 0px;
      top: -2px;
    }
  }
  .toggle-ios .toggle-checked .toggle-inner {
    transform: translate3d(14.725px, 0, 0);
  }

  .toggle-ios-ptkgreen .toggle-checked {
  border: 2px solid #000000;
}


#text-box.input {
  border: 1px solid #cccccc;
}

.line-break{
  overflow: inherit;
  text-overflow: inherit;
  white-space: normal;
}


