<form padding [formGroup]="logInForm" (ngSubmit)="onSubmit()">
  <ion-row>
    <ion-col class="mt-4">
      <ion-input placeholder="Username" type="text" name="username" formControlName="username"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input placeholder="Password" type="password" name="password" formControlName="password"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button class="log-button" type="submit" (click)="logId()" [disabled]="!logInForm.valid">Log In</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p class="text-center my-4">  OR  </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button class="log-button" type="submit" (click)="logAsGuest()">Continue As Guest</button>
    </ion-col>
  </ion-row>
</form>
