page-jobs-list, page-market {
  ion-content {
    ion-label {
      white-space: inherit;
    }
    .Complete {
      background-color: #B6D8AD;
    }
    .Failed {
      background-color: #EB999B;
    }
    .Accepted {
      background-color: #FFE6A3;
    }
    .Available {
      background-color: #ffffff;
    }
    ion-list {
      border: 1px solid #c0c0c0;
      .label-md {
        margin: 2px 20px 0 0;
      }
      button {
        padding: 0;
        text-align: left;
        width: 100%;
        border: 2px solid #000000;
        .label-md {
          margin: 0;
        }
        p {
          font-size: 1.2rem;
          margin: 0.4rem;
          //white-space: pre-wrap;
          //line-height: initial;
        }
        ion-icon {
          // position: relative;
          // float: right;
          // top: -45px;
          font-size: 40px;
        }
      }
     }
     ion-grid {
       padding: 0;
     }
     ion-col[width-20] {
       align-items: center;
       display: flex;
     }
  }
}


page-market {
  .circle {
    border: 1px solid #000000;
    width: 30px;
    height: 30px;
    border-radius:100%;
  }
}