page-jobs-list {
  ion-content {
    .green {
      background-color: #B6D8AD;
    }
    .red {
      background-color: #EB999B;
    }
    .orange {
      background-color: #FACBA2;
    }
    .yellow {
      background-color: #FFE6A3;
    }
    .grey {
      background-color: #ededed;
    }
    ion-list {
        border: 1px solid #c0c0c0;
      .label-md {
        margin: 2px 20px 0 0;
      }
      button {
        text-align: left;
        width: 100%;
        height: 65px;
        border: 2px solid #000000;
        p {
          font-size: 1.2rem;
          margin: 0.4rem;
        }
        ion-icon {
          position: relative;
          float: right;
          top: -45px;
          font-size: 40px;
        }
      }
     }
  }
}
