job-accepting-page {
    ion-content.content.content-md {
        background-color: #679BE4;
        #card-bg {
            background-color: #ffffff;
            border: 2px solid #000000;
            margin-top: 3rem;
        }
        h4 {
            margin: 1rem auto 0;
            color: #ffffff;
            text-align: center;
        }
        .btn-accept, .btn-discard {
            width: 70px;
            height: 45px;
            background-color: #ffffff;
            border: 2px solid black;
            box-shadow: 1.2px 1.2px 0 0;
            text-align: center;
            font-weight: 500;
        }

        .first-grid {
            ion-col:first-of-type {
                text-align: right;
                font-weight: 500;
            }
        }
        ion-col[width-50] {
            text-align: center;
        }
    }
}