<ion-header>
  <ion-navbar>
    <ion-title>{{ checklistName }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let section of checklistInfo['sections']">
      <ion-col width-10><div class="progressBar" [ngClass]="stage>=+section.section_stage && section.section_type!=='Property Info' ? 'greenBar' : (section.section_type=='Property Info'  ? 'extra-height-'+propertyInfo.info.length  : ( stage>=+section.section_stage && section.section_type=='Property Info' ? 'greenBar extra-height-'+propertyInfo.info.length : ''))"></div></ion-col>
      <ion-col width-10 class="text-right">{{ section.section_stage }}.</ion-col>
      <ion-col width-80>

        <ion-row *ngIf="section.section_type == 'Check-In'">
          <ion-col width-90>
            Check In
          </ion-col>
          <ion-col width-10>
            <ion-icon class="green-tick" name="checkmark"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="section.section_type == 'Property Info'">
          <ion-col class="propertyInfoCol">
            <ion-row>
              <ion-col width-100>
                {{ section.section_name }}
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let page of propertyInfo.info">
              <ion-col width-90>
                <button class="section-button" [disabled]="stage<+section.section_stage-1" (click)="redirectToPropertyInfoPage(page)">{{ page.title }}</button>
              </ion-col>
              <ion-col width-10>
                <ion-icon *ngIf="stage>=+section.section_stage" class="green-tick" name="checkmark"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="section.section_type == 'Checklist Boolean'">
          <ion-col width-70>
            {{ section.section_name }}
          </ion-col>
          <ion-col width-20 class="colToggle">
            <ion-toggle [disabled]="stage!=checklistBoolStage-1" [(ngModel)]="checklistBool" (ionChange)="toggleChecklistBool()" color="ptkgreen" class="toggle" mode="ios"></ion-toggle>
          </ion-col>
          <ion-col width-10>
            <ion-icon *ngIf="stage>=checklistBoolStage" class="green-tick" name="checkmark"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="section.section_type == 'Check-Out'">
          <ion-col width-70>
            Check Out
          </ion-col>
          <ion-col width-20 class="colToggle">
            <ion-toggle [disabled]="stage!=checkOutStage-1" [(ngModel)]="checkOut" (ionChange)="toggleCheckOut()" color="ptkgreen" class="toggle" mode="ios"></ion-toggle>
          </ion-col>
          <ion-col width-10>
            <ion-icon *ngIf="stage>=checkOutStage" class="green-tick" name="checkmark"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="['Check-In', 'Property Info', 'Checklist Boolean', 'Check-Out'].indexOf(section.section_type) == -1">    
          <ion-col width-90>
            <button class="section-button" [disabled]="stage<+section.section_stage-1" (click)="redirectToSection(section)">{{ section.section_name }}</button>
          </ion-col>
          <ion-col width-10>
            <ion-icon *ngIf="stage>=+section.section_stage" class="green-tick" name="checkmark"></ion-icon>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

