<ion-content padding>
  <!----------- JOB MATCH -------------->
  <img src="../../assets/img/logo@2x-min.png" width="50"/>
  <ion-item-group *ngIf="checklist">
        <p class="mt-4">We have matched your time and location against the following job, to be performed by an agent of {{ job.provider_name }}:</p>
        <div class="orange-box my-4 p-2">
          <p>{{ job.start_time.slice(0, 5) }} - {{ job.end_time.slice(0,5) }}</p>
          <p>{{ job.property_address }}</p>
          <p>{{ job.services_string }}</p>
        </div>
        <p class="text-center">Are you here to perform this job?</p>
        <div class="btn-container">
          <button class="green-btn" (click)="accept()">YES</button>
          <button class="pink-btn" (click)="discard()">NO</button>
        </div>
  </ion-item-group>
    <ion-card *ngIf="!checklist">
      <ion-card-header class="text-center">Sorry!</ion-card-header>
      <ion-card-content class="text-center pt-4">
        No current job matches.
      </ion-card-content>
    </ion-card>
</ion-content>
