greeting-overview {
    .greeting-checklist {
        margin-top: 15px;
        .stage-three {
            height: 60px;
        }
        .lineHeight-4 {
            line-height: 40px!important;
        }
        .lineHeight-6 {
            line-height: 60px!important;
        }
        .line-height-icon {
            line-height: 3.3;
        }
    }
}