checklist-section {

  .ion-spinner {
    color: $macaroni;
  }

  .item-input ion-label {
    max-width: 100%;
  }
  
  ion-row {
    .align-center {
      display: flex;
      align-items: center;
      line-height: inherit;
    }
  }

  ion-item.number-selector {
    padding-left: 0;
  }

  .select-md .select-icon .select-icon-inner {
    color: #000000;
  }
  
  .item-md.item-block .item-inner {
    border-bottom: none;
  }

}
